In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from database_def import RecordBase, Record

2019-02-28 22:16:38,837 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2019-02-28 22:16:38,847 INFO sqlalchemy.engine.base.Engine ()

2019-02-28 22:16:38,850 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2019-02-28 22:16:38,852 INFO sqlalchemy.engine.base.Engine ()

2019-02-28 22:16:38,855 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("record")

2019-02-28 22:16:38,857 INFO sqlalchemy.engine.base.Engine ()

In [3]:
#creating session
engine = create_engine('sqlite:///parameters.db', echo=True)
Session = sessionmaker(bind=engine)
session = Session()

In [2]:
r1= Record(M_1=12, I_2=23)
r = Record(r1)
#print(isinstance(r1, Record))
print(r1.record)
print(r.record)

   M_1  I_2   L  A_1  V_1  U_1  E_2  W_2  Fi_2   K   B
1   12   23 NaN  NaN  NaN  NaN  NaN  NaN   NaN NaN NaN
   M_1  I_2   L  A_1  V_1  U_1  E_2  W_2  Fi_2   K   B
1   12   23 NaN  NaN  NaN  NaN  NaN  NaN   NaN NaN NaN
<database_def.Record object at 0x0000022163B42EB8>

In [6]:
r1

In [9]:
new_record = Record_base(M_1=11, I_2=12, L=1, 
                         A_1=1.1, V_1=1, U_1=1,
                         E_2=2, W_2=2, Fi_2=2)#,
                         #K=4, B=4)

NameError: name 'Record_base' is not defined

In [17]:
new_record.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1e125404470>,
 'M_1': 11,
 'I_2': 12,
 'L': 1,
 'A_1': 1.1,
 'V_1': 1,
 'U_1': 1,
 'E_2': 2,
 'W_2': 2,
 'Fi_2': 2}

In [18]:
session.add(new_record)
session.commit()

2019-02-28 20:33:35,526 INFO sqlalchemy.engine.base.Engine INSERT INTO record ("M_1", "I_2", "L", "A_1", "V_1", "U_1", "E_2", "W_2", "Fi_2", "K", "B") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2019-02-28 20:33:35,542 INFO sqlalchemy.engine.base.Engine (11.0, 12.0, 1.0, 1.1, 1.0, 1.0, 2.0, 2.0, 2.0, None, None)

2019-02-28 20:33:35,542 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
res = session.query(Record_base).first()
print(res.M_1)

2019-02-28 20:31:20,425 INFO sqlalchemy.engine.base.Engine SELECT record.id AS record_id, record."M_1" AS "record_M_1", record."I_2" AS "record_I_2", record."L" AS "record_L", record."A_1" AS "record_A_1", record."V_1" AS "record_V_1", record."U_1" AS "record_U_1", record."E_2" AS "record_E_2", record."W_2" AS "record_W_2", record."Fi_2" AS "record_Fi_2", record."K" AS "record_K", record."B" AS "record_B"
FROM record
 LIMIT ? OFFSET ?

2019-02-28 20:31:20,425 INFO sqlalchemy.engine.base.Engine (1, 0)

11.0

In [20]:
from database_def import Record

ImportError: cannot import name 'Record'